# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.pem

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# Environment files
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.log

# Kubernetes
kubeconfig