aws_region        = "us-east-1"
environment       = "production"
vpc_cidr          = "10.0.0.0/16"
subnet_cidr       = "10.0.1.0/24"
availability_zone = "us-east-1a"
instance_type     = "t2.micro"
ami_id            = "ami-0c02fb55956c7d316"
key_name          = "nginx"
trusted_ssh_cidr  = "YOUR_PUBLIC_IP/32"
database_url      = "postgresql://devuser:devpass@your-database-host:5432/devdb"